// ------GENERIC MIXIN-----


// --------------header----------------------
@mixin setHeader {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
    z-index: 1;
}

@mixin setHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
}

@mixin setHeaderLeft {
    width: 200px;
    font-weight: 600;
    display: flex;
    gap: 25px;
}

@mixin setHeaderCenter {
    height: 40px
}

@mixin setHeaderRight {
    display: flex;
    justify-content: end;
    width: 200px;
    gap: 25px;
}
// ---------------------------------------


