@use './partials/variables' as *;
@use './partials/mixins' as *;
// importo bootstrap
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}




// HEADER---------------------------
.setHeader {
    @include setHeader;
}

.setHeaderContainer {
@include setHeaderContainer;
}

.setHeaderLeft{
    @include setHeaderLeft;
    display: flex;
    gap: 25px;
    
}


.setHeaderLeft a {
   color:white;
   text-decoration: none;
}

.setHeaderCenter {
    @include setHeaderCenter;
}

.setHeaderRight {
    @include setHeaderRight;
}

.setHeaderRight a {
        color: white;

}
// ----------------------------------
    

  /* MAIN */
  .main-contener {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1620px;
  
  }
  
  .container-card {
    width: 1420px;
    height: 1500px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 45px;
  }
  
  .card {
    width: calc(100% / 3 - 40px);
    height: 635px;
    margin: 20px 20px;
    position: relative;
  }
  
  #old-price{
  text-decoration: line-through;
  color: black;
  }
  
  .brand{
  font-size: 12px;
  }
  
  .model {
    font-weight: bolder;
  }
  
  .price {
    font-size: small;
    font-weight: bold;
    color: red;
  }
  
  
  .card > img {
    width: 100%;
    height: 100%;
  }
  
  
  .first-img-b{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  
  .card:hover .first-img-b {
    display: block;
  }
  

/* FOOTER */
.footer-info {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #1a1a1a;
    color: white;
    justify-content: center;
  
  }
  
  .footer-conteiner {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  
  .footer-left {
    width: 50%;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    width: 122px;
    text-align: left;
  }
  
  .info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .loghi-social {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 7px;
  }
  
