@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

ul {
    list-style: none;
}

// HEADER---------------------------
.setHeader {
    @include setHeader;
}

.setHeaderContainer {
@include setHeaderContainer;
}

.setHeaderLeft{
    @include setHeaderLeft;
    display: flex;
    gap: 25px;
}

.setHeaderCenter {
    @include setHeaderCenter;
}

.setHeaderRight {
    @include setHeaderRight;
    color: white;
}
// ----------------------------------
    
